a:focus, a:hover {
    color: inherit;
}

.fnav_sub_primary a.fnav_sub_element:hover {
    color: #cbc3b7;
}

a.topnav_element:hover,a.topnav_element:focus {
    text-decoration: none;
}

.topnav_cta_more {
    height: 29px !important;
}

a.topnav_cta:hover, a.topnav_cta:focus {
    color: white;
    text-decoration: none;
}
      /**
       * For modern browsers
       * 1. The space content is one way to avoid an Opera bug when the
       *    contenteditable attribute is included anywhere else in the document.
       *    Otherwise it causes space to appear at the top and bottom of elements
       *    that are clearfixed.
       * 2. The use of `table` rather than `block` is only necessary if using
       *    `:before` to contain the top-margins of child elements.
       */
      .clearfix:before,
      .clearfix:after {
        content: " "; /* 1 */
        display: table; /* 2 */
      }

      .clearfix:after {
        clear: both;
      }

.strong { font-weight:bold!important; }
      /**
       * For IE 6/7 only
       * Include this rule to trigger hasLayout and contain floats.
       */
      .clearfix {
        *zoom: 1;
      }

#signup label, #signup .label, #signup .fieldlabe, body #contribution label, body #contribution .fieldlabell {
    font-weight:normal!important;
    padding: 0px 0 6px 0; display:block;
}

div.bsd-speakout .bsd-speakout-show-formfield { margin:20px 0; }
#contribution td input:hover, #signup td input:hover, #contribution td input:focus, #signup td input:focus {
 border:2px solid #e35e14;
}
 
#contribution td.contribheader, #contribution #pa_status { border-bottom:0; padding-bottom:10px; } 

#contribution label, #contribution .fieldlabel { padding: 0 0 18px 0; }

#bsd-contribution-card-type input { 
    margin-top: 4px;
}

.personal-info { font-size:14px; }

#bsd-amounts-cont label { display:inline!important }
.bsd-contribution-card-type label { padding:0!important; display:inline; }
#issues h1 { padding:0 45px; font-size: 3.4em; }

#framework input[type="checkbox"], #framework input[type="radio"] {
    margin-right: 8px;
    width: auto;
}

#framework #signup .input label {
     display: inline-block;
}
      label, input {
        font-size: 18px;
      }
      h1 {
      	font-size:42px;
      }
      h2 {
        margin: 20px 0px;
      }
      #content a {
        text-decoration: underline;
      }
      #content a:hover {
        color: #e35e14;
      }
      div.bsd-speakout .bsd-page-header {
        margin-bottom: 20px;
        padding-bottom: 5px;
      }
      fieldset {
        border: 0px solid #c0c0c0;
        margin: 0 2px;
        padding: 20px 0px;
      }
      #contribution .bsd-dynamic-toggle-section-giftaid label {
        text-transform: none;
      }

      h1 {
        margin-bottom: 40px;
        text-align: center;
      }

      p {
        margin-bottom: 20px;
        font-size:15px;

      }
      .strong { font-weight: bold;}

      .fieldset {
        margin: 15px 0;
      }

      .fieldset input, .fieldset textarea {
        border: solid 2px #ceccc9;
        max-width: 670px;
        padding: 10px ;
        transition: all .1s ease-out;
        width: 100%;
      }

#bsd-field-submit-btn input[type="submit"] {  float:right; margin-top:0;  }
      .fieldset input:focus {
        border: solid 2px #e35e14;
        outline: none;
      }

      .issues {
        background: #f2f0ed;
        padding: 50px 0;
      }

      .issues_align {
        margin: auto;
        max-width: 870px;
        padding: 0;
      }

      .issues_align img {
        display: block;
        max-width: 100%;
      }

      .share-wrapper {
        text-align: center;
      }

      #content .share-wrapper a {
        border-radius: 3px;
        color: #fff;
        display: inline-block;
        font-size: 25px;
        margin: 10px;
        padding: 10px 15px;
        text-decoration: none;
      }

      #content .share-wrapper a span {
        font-size: 20px;
        padding-right: 10px;
      }

      .share-wrapper .twitter-share {
        background: #59ccff;
        text-shadow: 1px 1px 1px #52bdec;
      }

      .share-wrapper .facebook-share {
        background: #3b5998;
      }

      #bsd-field-submit-btn input[type="submit"] {
        background: #e35e14;
        border: solid 2px #e35e14;
        border-radius: 3px;
        color: #fff;
        display: block;
        margin: 30px auto 0;
        max-width: 200px;
        transition: all .1s ease-out;
      }

      #bsd-field-submit-btn input[type="submit"]:hover {
        background: #fff;
        color: #e35e14;
      }

      #issues p, #issues h1, #issues h2, #issues h3, #issues h4, #issues h5, #issues h6, #issues {
        color: #252728;
      }

      #signup {
        background: #fff;
        margin: 40px 0;
        overflow: hidden;
        padding: 40px;
        position: relative;
      }

      #signuptable {
        float: left;
        width: 70%;
      }

      #signupfooter p {
        font-size: 15px;
        font-style: italic;
        line-height: 1.5;
      }

      #totaliser {
        margin: 20px auto;
        text-align: center;
        width: 30%; 
      }

      #totaliser h2 {
        color: #e35e14;
        font-size: 22px;
      }

      #totaliser h2 #counter {
        clear: both;
        display: block;
        font-size: 60px;
      }
      .input input[type=checkbox], .input input[type=radio] {
        float: left;
        margin: 7px 5px 0 0;
        width: auto;
      }

      @media only screen and (min-width: 768px) {

      #totaliser {
        right:0;
        bottom: 0px;
}


  
      #totaliser h2 #counter {       }

#required_note { position: absolute;
    bottom: 60px;
    font-size: 18px;
    color: #999;
}

}
      /* donation form */
      .intro-copy {
        text-align: center;
      }
      .intro-link {
        color: #e35e14;
      }
      #BSD-quick_donate_login_link-a {
        color: #e35e14;
        display: block;
        font-size: 18px;
        margin-bottom: 40px;
        text-align: center;
      }
      #contribution {
        margin: 0 auto;
        max-width: 600px;
      }
      
      #contribution table,
      #contribution table tbody,
      #contribution table tr,
      #contribution table td {
        display: block;
      }

    body    #contribution td.contribheader {
      border-bottom: none;
      padding-bottom: 20px;    
 font-size: 24px;
    font-weight: normal!important;
    }
    
body #amt_other_text { padding:0!important; }
    #contribution .contribcolumn {
      width: 100%!important;
    }
    
    #contribution td input {
    border: solid 2px #ceccc9;
      font-size: 16px;
      padding: 10px 15px;
      width: 95%;
    }
    
    #contribution td #phone {
      margin-bottom: 40px;
    }
    
    #bsd-amounts-cont {
      padding-bottom: 40px;
      min-height: 100px;
    }
    
    #bsd-amounts-cont td td {
      display: block;
      float: left;
      height: 40px;
      width: 20%;
    }
    
    #bsd-amounts-cont input {
      margin-right: 10px;  
      width: auto!important;
    }
    
    #bsd-contribution-card-type .cc_type_cd {
      float: left;
      margin-right: 10px;
      width: auto;
    }
    
    #bsd-contribution-card-type .cc_type_cd_label {
      float: left;
    }
    
    #processbutton {
      background-color: #e35e14;
      border: none!important;
      color: #fff;
      padding: 10px;
      width: 150px!important;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
    }
    
    select {
      background-color: #fff;
      background-image: url('https://s.bsd.net/reprieve/main/page/-/images/select-arrow.png');
      background-position: 90% 50%;
      background-repeat: no-repeat;
      border: 2px solid #ceccc9;
      font-size: 16px;
      float: left;
      margin-bottom: 40px;
      margin-right: 10px;
      min-width: 25%;
      padding: 10px 15px;
      display: block;
      width: auto;
      -webkit-appearance: none;
      -webkit-border-radius: 0px;
    }
    
    select#country {
      background-position: 95% 50%;
      float: none;
      margin: none;
      margin-bottom: 0px;
      width: 100%;
    }
    
    .bsd-dynamic-toggle-section-paymentinfo {
      overflow: hidden;
    }

      td.contribcolumn > table > tbody > tr {
        background: #fff;
        display: block;
        padding: 0 30px;
      }

      tr#bsd-contribution-section-header-amount {
        margin-top: 40px;
      }

      td.contribcolumn > table > tbody > tr > td {
         display: block; 
        margin-bottom: 0 !important;
      }

      tr#bsd-contribution-section-header-paymentinfo {
        margin-top: 40px;
      }

      #speakout_form {
        margin: auto;
        max-width: 600px;
      }

      #speakout_form .left, #speakout_form .right {
        border: none;
        float: none;
        padding: 0;
        width: 100%;
      }

      #speakout_form .left > div, #speakout_form .right > div {
        background: #fff;
        box-sizing: border-box;
        margin-bottom: 20px;
        padding: 40px;
      }

      .bsd-speakout-show-formfield input:focus, .bsd-speakout-show-formfield select:focus, .bsd-speakout-show-editletter input:focus, textarea:focus {
        border: solid 2px #e35e14;
        outline: none;
      }
      #speakout_form .firstname, #speakout_form .lastname {
        float: none;
        width: 100%;
      }

      .bsd-speakout-show-formfield input, .bsd-speakout-show-editletter input, textarea {
        box-sizing: border-box;
        display: block;
        padding: 10px;
        width: 100%;
      }

      .bsd-speakout-show-editletter input {
        margin-bottom: 10px;
      }

      #speakout_form .city, #speakout_form .state_cd, #speakout_form .zip {
        float: none;
        width: 100%;
      }

      .bsd-speakout .button-send, .bsd-speakout input[type="submit"] {
        background: #e35e14;
        border: solid 2px #e35e14;
        border-radius: 3px;
        color: #fff;
        display: block;
        margin: 30px 0 0;
        max-width: 200px;
        transition: all .1s ease-out;
      }

      #speakout_form .button-send {
        margin: 30px auto;
      }

      .bsd-speakout .button-send:hover, .bsd-speakout input[type="submit"]:hover {
        background: none;
        color: #e35e14;
      }

      .bsd-speakout h4 {
        font-size: 24px;
      }
      .bsd-speakout h4:before {
        display: block;
        float: left;
        margin-right: 1%;
      }

      .bsd-speakout-show-addressinput h4:before {
        content: "1.";
      }

      .bsd-speakout-show-selectrecipients h4:before {
        content: "2.";
      }

      .bsd-speakout-show-editletter h4:before {
        content: "3.";
      }

      #contribution input#custom1 {
        margin-right: 5px;
        width: auto;
      }

      .bsd-dynamic-toggle-section-custom .fieldlabel,  .bsd-dynamic-toggle-section-custom label {
        font-size: 16px; text-transform: none!important; display:inline!important;
      }

      .bsd-dynamic-toggle-section-custom:last-of-type {
        padding-bottom: 30px;
      }

      @media only screen and (max-width: 768px) {
   
        .issues_align {
          padding: 0 5%;
        }

        .issues_align img {
          float: none!important;
        }

        #signuptable {
          width: 100%;
        }

        #totaliser {
          position: static;
          width: 100%;
        }

        select {
          width: 50%;
        }
        select#country {
          width: 100%;
        }
        #bsd-amounts-cont td td {
          width: 30%;
        }
        #bsd-amounts-cont {
          min-height: 140px;
        }
        #contribution td input {
          width: 90%;
        }
      }

#speakout_form h4 { display: block; padding: 0 0 20px 0;  }

#speakout_form .bsd-speakout-recipient label { display:inline!important; padding-left:20px;  }
.bsd-dynamic-toggle-section-custom .fieldlabel {font-weight:normal; font-size: 15px;
    line-height: 1.6em; }
      .floatImgL { width: 260px; height: 260px; margin: 0 20px 20px 0px; float: left; }
      @media only screen and (max-width: 600px) {
        #content .share-wrapper a {
          display: block;
          margin: 20px 0;
        }
      }
.col-md-8 {
    font-family: 'Source Sans Pro', sans-serif !important;
    padding: 20px;
    background-color: rgba(255,255,255,0.95);
}

#issues {
    background-image: url("https://s.bsd.net/reprieve/main/page/-/yemi-169-crop.png");
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
    background-size: cover;
    min-width: 1px;
padding-top: 0;
}

.col-md-3.right-hand {
    padding: 20px;
    background-color: rgba(255,255,255,0.95);
    /* position: fixed; */
    /* right: 10%; */
    /* z-index: 99; */
    /* top: 0; */
    /* bottom: 0; */
    /* margin-left: 20%; */
}

#signers p.shown:nth-child(n+9) {
    display: none !important;
}

#signers {
    min-height: 300px;
}

form#signup {
    background: none;
    padding: 0;
}

#signup input[type=text], #signup input[type=email], #signup textarea, #signup input[type=tel] {
    background: none;
    max-width: none;
    -webkit-appearance: none;
}

table#signuptable {
    width: 100%;
}

.fieldset {
    margin-top: 0;
}

td#required_note {
    position: static;
    float: right;
}

#bsd-field-submit-btn input[type="submit"] {
    float: none;
    margin-top: 0;
    font-size: 24px;
    max-width: none;
    /* display: inline-block; */
    width: auto;
}

#bsd-field-submit-btn label, #bsd-field-submit-btn .label {
    display: none;
    padding: 0;
}

#bsd-field-submit-btn input[type="submit"]:hover {
    background: none;
}

#issues label {
    /* font-weight: bold !Important; */
    padding: 0;
}

div#bsd-field-custom-683-group {}

#issues .label label {
    font-weight: bold !important;
    font-size: 18px;
}
@media (min-width: 992px) {
.col-md-3.right-hand {
    margin: 0 25px;
}
#issues {
padding-top: 50px;
}
}

.input {}

#signup input, #signup select, #signup textarea {
    font-size: 18px;
}

.utilnav.util1 {
    display: none;
}
.intro h1, .intro h2, .intro p {
    text-align: center;
}

b {
    color: #e35e14;
}
.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
margin: 3rem 0;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

#signers {
    min-height: 375px;
}
.fnav_sub {
    height: auto !important;
}

.fnav_sub:before, .fnav_sub:after {
    content: "";
    clear: both;
    display: table;
}
