.fnav_sub {
  height: auto !important;

  /*from core.css:
  background-color: #3c3b39;
  margin-top: 72px;
  padding-bottom: 36px;
  padding-top: 16px;*/
}

.fnav_sub:before, .fnav_sub:after {
  content: "";
  clear: both;
  display: table;
}
