.highlight {
    background-color: yellow;
    color: black;
}

.tooltip-bigger-font {
    font-size: 16px;
}

.tooltip-link {
    color: red;
}

.tooltip-link:hover {
    color: orange;
}

@media only screen and (max-width: 768px) {
    .smallipop-instance {
        max-width: 100% !important;
        left: 0px !important;
    }
}