@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600);

html {
  font-family: "Source Sans Pro", arial, sans-serif !important;
}

.primary .letter-container {
  font-size: 1.38462em;
  line-height: 1.4;
}

.primary .letter-container p {
  font-size: 1em;
}

body {
  font-family: "Source Sans Pro", arial, sans-serif !important;
}

/* Letter background */

.primary .letter-container .letter-background {
  padding: 2em;
  background: white;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
  line-height: 1.75;
}

.primary .letter-container .letter-background p {
  line-height: 1.75;
}

/* Spans */

.letter-container .highlight {
  color: black;
  background-color: #ee6901;
  padding: 0em 3px;
  position: relative;
}

/* Box typography */

.mobile-tooltip p {
  margin-bottom: 1em;
}

.mobile-tooltip h3 {
  color: #ee6901;
  font-size: 24px;
  margin-bottom: 1em;
  margin-top: 0 !important;
}

.mobile-tooltip h4 {
  color: #ee6901;
  font-size: 20px;
  margin-bottom: 0.5em;
}

.mobile-tooltip blockquote {
  padding-left: 2.5em;
  border-left: 5px solid #ee6901;
  margin-left: 0 !important;
  margin-bottom: 1em !important;
  color: white;
}

/* Share buttons */

.letter-container a.tooltip-button, .mobile-tooltip a.tooltip-button {
  background-color: #ee6901;
  background-image: url("http://thesmallaxe.github.io/reprieve/twitter.png");
  background-position: 0.7em 0.7em;
  background-repeat: no-repeat;
  color: white;
  padding: 0.5em 1em;
  padding-left: 2.25em;
  border-radius: 5px;
  margin: 1em 0em;
  text-shadow: none !important;
  display: block;
  text-decoration: none;
  box-shadow: none;
}

.letter-container a.tooltip-button:hover, .mobile-tooltip a.tooltip-button:hover {
  color: #ee6901;
  background-color: #262729;
  background-image: url("http://thesmallaxe.github.io/reprieve/twitter-hover.png");
}

.mobile-tooltip a.tooltip-button {
  text-shadow: none;
  border: 1px solid transparent;
  display: inline-block;
  margin: 0;
  text-align: center;
}

.mobile-tooltip a.tooltip-button:hover {
  border: 1px solid #ee6901;
  color: #ee6901 !important;
}

/* New Styles */

.letter-background {
  position: relative;
}

.mobile-tooltip {
  padding: 1em;
  border-radius: 0;
  background-color: #262729;
  border-top: 5px solid #ee6901;
  border-bottom: 5px solid #ee6901;
  color: white;
  margin-left: -2em;
  width: calc(100% + 2em);
  display: none;
  position: relative;
}

@media only screen and (min-width: 768px) {
  .mobile-tooltip {
    position: absolute;
    z-index: 2;
    margin-left: -1em;
    width: calc(100% - 4em);
  }
}

.mobile-tooltip:before {
  bottom: auto;
  top: -20px;
  margin-left: -10px;
  border: 10px solid transparent;
  border-color: transparent transparent #222 transparent;
  position: absolute;
  left: 50%;
  height: 0;
  width: 0;
  pointer-events: none;
  content: "";
  display: block;
}

.mobile-tooltip a.close {
  text-align: right;
  color: #ee6901;
  text-decoration: none;
  font-size: 24px;
  box-shadow: none !important;
  line-height: 12px;
}

.mobile-tooltip a.close:hover {
  color: white;
}

/* Homepage button */

.intro_caption_align {
    padding: 0;
    background-color: rgba(255,255,255,0.95);
    margin-left: 20%;
    margin-right: 20%;
}

@media only screen and (min-width: 87.5em) {
    .intro_caption_align {
        margin-left: 24%;
        margin-right: 24%;
    }
}

@media only screen and (min-width: 98.75em) {
    .intro_caption_align {
        margin-left: 30%;
        margin-right: 30%;
    }
}

.intro_caption_title {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: transparent;
}

a.intro_caption_cta {
    background: #e35e14;
    color: #fff;
    padding: .5rem !important;
    line-height: normal;
    width: auto;
    margin: 0 1rem 1rem;
    display: inline-block;
    border-radius: 5px;
    font-size: 0.75rem;
    position: relative;
    border: 0;
    padding-right: calc(1rem + 30px) !important;
}

@media only screen and (min-width: 480px) {
   a.intro_caption_cta {
    font-size: 1rem;
   }
}



@media only screen and (min-width: 980px) {
    a.intro_caption_cta {
        padding: 1rem !important;
        line-height: normal;
        width: auto;
        margin: 0 1rem 1rem;
        display: inline-block;
        border-radius: 2px;
        font-size: 1.5rem;
        position: relative;
        border: 0;
        padding-right: calc(1rem + 30px) !important;
    }
}

.intro_caption_align:before,.intro_caption_align:after {
    content: "";
    display: table;
    clear: both;
}

.hero-arrow {
    background-color: #bf5012;
    height: 100%;
    line-height: normal;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 30px;
    border-radius: 2px;
    -webkit-transition-property: background-color,box-shadow,border-color,color,opacity,text-shadow;
    -webkit-transition-duration: .2s;
    -webkit-transition-timing-function: ease;
    transition-property: background-color,box-shadow,border-color,color,opacity,text-shadow;
    transition-duration: .2s;
    transition-timing-function: ease;
    display: inline-block;
    font-family: "octicons",sans-serif;
    font-size: 16px;
    font-style: normal;
    text-decoration: none;
}

.hero-arrow span {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    display: block;

}

/* for iPhone */

 .hero-arrow {
   line-height: 44px;
 }

@media only screen and (min-width: 380px) {
  .hero-arrow {
    line-height: 35px;
    }
}

@media only screen and (min-width: 980px) {
  .hero-arrow {
    line-height: 61px;
    }
}

.intro_caption_cta:hover {
    background-color: #bf5012;
}

.intro_caption_cta:hover .hero-arrow {
    background-color: #e35e14;
}


.section_header.fullwide {
    margin-right: 0 !important;
}

a.share-button {
    color: #fff !important;
    background: #e35e14;
    /* background-image: url(https://s.bsd.net/reprieve/main/page/-/facebook-icon-white.png); */
    /* background-size: contain; */
    /* background-repeat: no-repeat; */
    /* background-position-x: left; */
    /* background-position-y: 50%; */
    /* border: 1px solid #bf5012; */
    /* -webkit-box-shadow: 0 3px 0 0 #bf5012; */
    /* box-shadow: 0 3px 0 0 #bf5012; */
    -moz-border-radius: 3px;
    /* -webkit-border-radius: 3px; */
    border-radius: 3px;
    padding: 1.5rem;
    margin: 1rem;
    display: inline-block;
    text-decoration: none;
    text-align: center;
}

a.share-button.facebook-share {
    background: #3b5998;
    background-image: url(https://s.bsd.net/reprieve/main/page/-/facebook-icon-white.png);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position-x: 10px;
    background-position-y: 50%;
    padding-left: 50px;
}

a.share-button.twitter-share {
    background: #4099FF;
    background-image: url(https://s.bsd.net/reprieve/main/page/-/twitter-icon-white.png);
    background-size: 25px;
    background-repeat: no-repeat;
    background-position-x: 12.5px;
    background-position-y: 50%;
    padding-left: 50px;
}

a.share-button.twitter-share:hover {
    background: #e35e14;
    background-image: url(https://s.bsd.net/reprieve/main/page/-/twitter-icon-white.png);
    background-size: 25px;
    background-repeat: no-repeat;
    background-position-x: 12.5px;
    background-position-y: 50%;
    padding-left: 50px;
}

a.share-button.facebook-share:hover {
    background: #e35e14;
    background-image: url(https://s.bsd.net/reprieve/main/page/-/facebook-icon-white.png);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position-x: 10px;
    background-position-y: 50%;
    padding-left: 50px;
}

.maincol.with_single.full-col {
    width: 100% !important;
}

a.letter-cta {
    background-color: #ee6901;
   background-position: 0.7em 0.7em;
    background-repeat: no-repeat;
    color: white;
    padding: 1rem 3rem;
   border-radius: 5px;
    margin: 1em 0em;
    text-shadow: none !important;
   text-decoration: none;
    box-shadow: none;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    font-size: 28px;
    box-sizing: border-box;
    border: 1px solid #ee6901;
}

a.letter-cta:hover {
    background-color: transparent;
    border: 1px solid #ee6901;
    color: #ee6901;
    text-decoration: none;
}

.action-box {
    background-color: transparent;
    border: 5px solid #ee6901;
    padding: 2rem;
    margin: 2rem;
}

.action-box h2 {
    margin: 0;
    line-height: normal;
}

.action-box p {
    text-align: center;
}

.maincol.with_single.lastwords-fullwide {
    width: 100%;
}

h1.lastwords-heading {
      text-align: center;
    margin-bottom: 1rem !important;
    font-size: 60px;
    background: #252728;
    padding: 1rem;
    color: white;
}

.help-donate {
    border: 3px solid #e35e14;
    background: #e35e14;
    box-sizing: border-box;
    padding: 3rem 1rem;
    color: white;
    margin-bottom: 1rem;
  text-align: center;
}
  

.lastwordsvid {
    margin-bottom: 1rem;
}

@media only screen and (min-width: 1224px) {
#core.lastwords-core {
    width: 60%;
}
.case-col {
    flex: 1;
    margin-right: 1rem;
    background: #252728;
    color: white;
    padding: 1rem;
}

.case-col.case-3 {
    margin-right: 0;
}


.case-container {
    display: flex;
    width: 100%;
}


  .help-donate.render {
      width: 20%;
    margin-left: 2.5%;
    clear: right;
    float: right;
  }
  
  .lastwordsvid.render {
    width: 77.5%;
    float: left;
  }


}



.case-col h2 {
    margin-top: 1rem;
    color: #e35e14;
}

a.lastwordsdonate {
    border: 3px solid #e35e14;
    padding: 1rem 2rem;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 1.75rem;
    line-height: normal;
    box-sizing: border-box;
    margin: 1rem 0rem;
    font-weight: bold;
}

a.lastwordsdonate {
    color: white;
    border: 3px solid white !Important;
}
a.lastwordsdonate:hover {
    background: white;
    color: #e35e14;
    border: 3px solid white;
}
