$black: #000000;

$white: #FFFFFF;
$off-white: #FEFEFE;
$slide-bg-color: #F2F0ED;

/* btn colour variabels */
$btn-shadow: #BF5012;
$btn-bg-color: #E35E14;
$btn-hover-border-color: #C85312;
$btn-hover-bg-color: #D55813;

/* Common Colours */
$green: #008000;
$orange: #E35E14;
$red: #FF0000;
$light-gray: #D8D8D8;
$gains-boro: #E0E0E0;
$light-green: #88F078;
$salmon: #FF7775;
$whisper: #EEEEEE;
$nobel: #999999;
$night-rider: #333333;
$suva-gray: #8F8F8F;

$fb-blue: #3b5998;
$tweeter-blue: #0084b4;